body
{
	background-color: #FFD1DC;
}

h1
{
	text-align: center;
}

p
{
	border-style: solid;
	border-bottom: #000000;
	font-style: normal;
	font-size: 125%;
	text-align: center;
	line-height: 130%;
}

span
{
	font-style: italic;
}
